---
import ProjectCard from "../projectCard.astro";

const projects = [
  {
    title: "ProjectTitle",
    link: "-",
    technologies: ["-"],
    desktopScreenshot: "-",
    mobileScreenshot: "-",
    description: "-",
  },
  {
    title: "Immoly.io",
    link: "https://immoly.io",
    technologies: ["Next.js"],
    desktopScreenshot: "/screenshots/desktop/immoly-io.png",
    mobileScreenshot: "/screenshots/mobile/immoly-io.png",
    description: "visual mortgage calculator with multiple color schemes",
  },
  {
    title: "Schluesselmomente",
    link: "https://schluesselmomente-freiburg.de",
    technologies: ["HTML", "Tailwindcss", "php"],
    desktopScreenshot: "/screenshots/desktop/schluesselmomente-freiburg-de.png",
    mobileScreenshot: "/screenshots/mobile/schluesselmomente-freiburg-de.png",
    description: "website for local coaching business",
  },
  {
    title: "Mimis-Kreativstudio",
    link: "https://mimis-kreativstudio.de",
    technologies: ["Astro", "Tailwindcss", "Resend"],
    desktopScreenshot: "/screenshots/desktop/mimis-kreativstudio-de.png",
    mobileScreenshot: "/screenshots/mobile/mimis-kreativstudio-de.png",
    description: "floral design studio website with elegant styling",
  },
  {
    title: "Business-Website",
    link: "https://jakob-lingel.dev",
    technologies: ["Astro", "React", "Three.js", "Tailwindcss"],
    desktopScreenshot: "/screenshots/desktop/jakob-lingel-dev.png",
    mobileScreenshot: "/screenshots/mobile/jakob-lingel-dev.png",
    description: "personal portfolio website with 3D elements",
  },
  {
    title: "Alemazung-Site",
    link: "https://alemazung.de",
    technologies: ["Next.js", "Strapi", "Tailwindcss"],
    desktopScreenshot: "/screenshots/desktop/alemazung-de.png",
    mobileScreenshot: "/screenshots/mobile/alemazung-de.png",
    description: "multilingual website for a mayor's office",
  },
  {
    title: "Blog",
    link: "https://blog.jakob-lingel.dev",
    technologies: ["11ty", "Tailwindcss"],
    desktopScreenshot: "/screenshots/desktop/blog-jakob-lingel-dev.png",
    mobileScreenshot: "/screenshots/mobile/blog-jakob-lingel-dev.png",
    description: "personal blog built with 11ty",
  },
  {
    title: "telemetry.jakob-lingel.dev",
    link: "https://telemetry.jakob-lingel.dev",
    technologies: ["Rust", "Kubernetes metrics monitor", "React"],
    desktopScreenshot: "/screenshots/desktop/telemetry-jakob-lingel-dev.png",
    mobileScreenshot: "/screenshots/mobile/telemetry-jakob-lingel-dev.png",
    description: "kubernetes monitoring tool written in rust",
  },
  {
    title: "Teachly.store",
    link: "https://app.teachly.store",
    technologies: ["React", "Typescript", "Nest.js", "Keycloak"],
    description:
      "platform for browsing, sharing, buying and selling educational resources",
  },
];
---

<div>
  <div
    class="grid border-t grid-cols-[50px_1fr] sm:grid-cols-[50px_1fr_50px] lg:grid-cols-[100px_1fr_100px] bg-[var(--color-background)]"
  >
    <div class="border-r"></div>
    <div>
      <div class="h-12 lg:h-24 border-b"></div>

      {/* Projects Title */}
      <div class="lg:hidden">
        <h2
          class="font-michroma italic text-2xl sm:text-5xl uppercase lg:px-10 mb-8"
        >
          Projects
        </h2>
      </div>

      {/* Project Cards */}
      <div class="z-30">
        {
          projects.map((project, index) => (
            <div class="z-20 grid">
              <ProjectCard
                title={project.title}
                link={project.link}
                technologies={project.technologies}
                desktopScreenshot={project.desktopScreenshot}
                mobileScreenshot={project.mobileScreenshot}
                number_of_projects={projects.length}
                index={index}
              >
                {project.description}
              </ProjectCard>
            </div>
          ))
        }
      </div>

      <div class="h-12 lg:h-24 border-t"></div>
    </div>
    <div class="max-sm:hidden border-l"></div>
  </div>
  <div class="w-full border-b"></div>
</div>
