---
interface Props {
  title: string;
  link: string;
  repositoryLink?: string;
  technologies: string[];
  desktopScreenshot?: string;
  mobileScreenshot?: string;
}

const { title, link, repositoryLink, technologies, desktopScreenshot, mobileScreenshot } = Astro.props;
---
<div class="relative py-10 flex-1 lg:border-x flex flex-col bg-[var(--color-background)]">
  {/* Mobile Screenshot - positioned on right, IN FRONT of content */}
  {mobileScreenshot && (
    <div class="hidden lg:block lg:absolute lg:-right-32 xl:-right-48 lg:top-1/2 lg:-translate-y-1/2 lg:w-48 xl:w-64 z-20 perspective-1000">
      <div 
        class="w-full transition-all duration-500 ease-out shadow-2xl rounded-lg overflow-hidden border-2 border-white/20"
        style="transform: perspective(1000px) rotateX(12deg) rotateZ(-6deg) rotateY(25deg); transform-style: preserve-3d;"
        onmouseenter="this.style.transform='perspective(1000px) rotateX(0deg) rotateZ(0deg) rotateY(0deg)'"
        onmouseleave="this.style.transform='perspective(1000px) rotateX(12deg) rotateZ(-6deg) rotateY(25deg)'"
      >
        <img 
          src={mobileScreenshot} 
          alt={`${title} mobile screenshot`}
          class="w-full h-auto object-cover object-top"
          loading="lazy"
        />
      </div>
    </div>
  )}

  {/* Mobile Layout - Stacked below content */}
  {(desktopScreenshot || mobileScreenshot) && (
    <div class="lg:hidden px-6 mb-6">
      <div class="relative h-48 perspective-1000">
        {/* Desktop Screenshot - Mobile View */}
        {desktopScreenshot && (
          <div 
            class="absolute w-full sm:max-w-[80%] md:max-w-[70%] transition-all duration-500 ease-out shadow-2xl rounded-lg overflow-hidden border-2 border-white/20"
            style="transform: perspective(1000px) rotateX(12deg) rotateZ(6deg) rotateY(-25deg); transform-style: preserve-3d;"
            onmouseenter="this.style.transform='perspective(1000px) rotateX(0deg) rotateZ(0deg) rotateY(0deg)'"
            onmouseleave="this.style.transform='perspective(1000px) rotateX(12deg) rotateZ(6deg) rotateY(-25deg)'"
          >
            <img 
              src={desktopScreenshot} 
              alt={`${title} desktop screenshot`}
              class="w-full h-auto object-cover object-top"
              loading="lazy"
            />
          </div>
        )}
        {/* Mobile Screenshot - Mobile View */}
        {mobileScreenshot && (
          <div 
            class={`absolute shadow-2xl rounded-lg overflow-hidden border-2 border-white/20 ${desktopScreenshot ? 'w-1/2 sm:w-[40%] md:w-[35%] -bottom-4 -right-4' : 'w-full sm:max-w-[80%] md:max-w-[70%]'}`}
            style="transform: perspective(1000px) rotateX(12deg) rotateZ(6deg) rotateY(-25deg); transform-style: preserve-3d;"
            onmouseenter="this.style.transform='perspective(1000px) rotateX(0deg) rotateZ(0deg) rotateY(0deg)'"
            onmouseleave="this.style.transform='perspective(1000px) rotateX(12deg) rotateZ(6deg) rotateY(-25deg)'"
          >
            <img 
              src={mobileScreenshot} 
              alt={`${title} mobile screenshot`}
              class="w-full h-auto object-cover object-top"
              loading="lazy"
            />
          </div>
        )}
      </div>
    </div>
  )}
  
  <div class="grid gap-y-4">
    <h4 class="text-2xl lg:text-4xl px-6 lg:px-10">{title}</h4>
    <div class="px-6 lg:px-10">
      <slot/>
    </div>
    <a class="px-6 lg:px-10 break-all" href={link} target="_blank">
      {link}
    </a>
    <div class="grid grid-cols-2 mx-6 lg:mx-10 border-y divide-y">
      { technologies.map(tech => (
        <div class="">{tech}</div>
      )) }
    </div>
  </div>
</div>
